@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


html {
    overflow-y: scroll;
}

ul {
    overflow: hidden;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

body {
    width: 100%;
    margin: 0;
    color: #dcdce5;
    font-family: 'nanumsquare', 'Lato', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fc-white {
    color: #ebe9ed;
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-flex-child {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-eachend {
    justify-content: space-between
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-self-start {
    align-self: flex-start;
}

.flex-self-end {
    justify-self: end;
}

.grid {
    display: grid
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.no-margin {
    margin: 0 !important;
}

.size-15 {
    width: 15px;
    height: 15px;
}

.size-9 {
    width: 9px;
    height: 9px;
}

.c-green {
    color: #07da74;
}

.bg-dark {
    background-color: #1a1c21;
}

.bg-darkest {
    background-color: #141217;
}

.pointer{
    cursor: pointer;
}

.page {
    width: 980px;
    margin: 120px auto;
    background-color: #131519;
}

.main-content {
    height: 200%;
}

.container {
    /* width: 48.4%; */
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.background {
    background: url(/background.jpg) no-repeat;
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 96px;
    /* background-color: #23222f; */
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    cursor: default;
}

.presets-wrapper {
    margin-top: 40px;
}

.presets-heading {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    margin-bottom: 8px;
}

.badge-wrapper {
    order: 1;
    display: block;
    flex: 0 0 auto;
    margin: 0 4px 8px;
    width: auto;
}

.badge {
    transition: background-color .2s, border-color .2s, color .2s;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    display: block;
    background: #1a1c21;
    color: #dcdce5;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    min-width: 10px;
    white-space: nowrap;
}

.badge-big {
    font-size: 14px;
    line-height: 16px;
}


.preset-menu {
    margin: 0 -4px -8px;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

.deals-container {
    margin-top: 48px;
}

.main-filter-line {
    margin: 12px 24px 8px 12px;
    width: 450px;
}

.filter-line {
    padding: 0;
    margin: 0;
}

.filters-line-container {
    box-shadow: none;
    background: 0 0;
    flex: 0 0 100%;
    max-width: 100%;
    height: 40px;
    border: none;
    flex: 0 0 100%;
    padding: 0;

}

.filter-dropdown {
    display: inline-block;
    margin-bottom: 12px;
    flex: 0 auto;
}

.tridown {
    transform: scaleY(-1);
    transition: .3s;
}

.current {
    color: #fff;
    height: 24px;
    padding: 3.75px 12px 4.25px 0;
    transition: color .2s;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
}

.text {
    white-space: nowrap;
}

.filter-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 120%;
    background: #1a1c21;
    width: 352px;
    border-radius: 4px;
    height: auto;
    z-index: 1000;
    padding-bottom: 50px;
    cursor: default;
}

.filter-wrap {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.numeric-filter {
    font-family: 'Lato';
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
}

.filter-list {
    max-height: 500px;
}

.range-container {
    margin-bottom: 12px;
    padding-right: 4px;
}

.range-wrapper {
    width: 100%;
    margin: 20px 0 15px 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1c21;
    height: 45px;
    margin-right: 20px;
    border: 1px solid #dcdce5;
    border-radius: 4px;
    max-width: 200px;
    height: 40px;
}

.searchbar {
    position: relative;
    background-color: #1a1c21;
    width: 100%;
    height: 90%;
    color: #dcdce5;
    border: none;
    outline: none;
    margin: 10px;
}

.search-img {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    cursor: pointer;
}

.badge-filter {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    padding: 5px 8px;
}

.range-title {
    padding-left: 5px;
    margin-bottom: 20px;
}

.range-item {
    display: block;
    flex: calc(50% - 8px) 1;
    width: calc(50% - 6px);
    margin: 4px;
    text-align: center;
}

.sort-item {
    display: block;
    flex: 1;
    width: 98%;
    margin: 6px 0;
    text-align: center;
}

.range-input {
    transition: color .2s, border-color .2s, font-weight .2s;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    background: #1a1c21;
    border: 1px solid #e0dde3;
    color: #a39aac;
    padding: 1.75px 8px 1.25px;
    text-align: center;
    height: unset;
}

.range-slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.range-slider {
    accent-color: #a39aac;
    outline: none;
    background: #23222f;
    height: 6px;
    width: 270px;
    border-radius: 5px;
}

.range-output {
    color: #ebe9ed;
    border-radius: 2px;
    padding: 3px 7px;
    margin: 0px 10px;
    text-align: center;
    position: relative;
}

#output::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: solid 6px var(--primary);
    z-index: -1;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
}

.filter-reset-button-container {
    position: relative;
    display: block;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: auto;
    width: 100%;
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    display: block;
    content: '';
    background: #5c5365;
    box-sizing: border-box;
}

.filter-reset-button {
    transition: color .2s;
    display: block;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    background: 0 0;
    color: #4f4d6a;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    padding: 16px 24px;
}

.sort {
    position: relative;
}

.sort-wrap {
    position: relative;
    width: 97%
}

.game-section {
    margin-top: 0;
    margin-bottom: 16px;
}

.section-row {
    position: relative;
    flex-wrap: wrap;
}

.col-left {
    flex: 1 1 680px;
    max-width: 680px;
    padding-left: 12px;
    padding-right: 8px;
}

.list-view {
    width: 100%;
    transition: opacity .5s;
    position: relative;
}

.shadow-box-small-lighter {
    box-shadow: 0 0 2px rgba(9, 9, 12, .1);
}

.shadow-box-big-light {
    box-shadow: 0 0 36px -19px rgba(43, 39, 39, .1);
}


.gameBox {
    width: 100%;
    transition: background-color .2s;
    background-color: #1a1c21;
    box-shadow: none;
    margin: 0;
    padding: 0;
    height: 52px;
    border-bottom: 2px solid #23222f;
}

.game-portrait-item {
    grid-template-areas: "icon game-info cta";
    grid-auto-flow: column;
    grid-template-columns: 154px auto max-content;
    grid-template-rows: 66px;
    gap: 8px;
    margin: 0;
    padding: 0;
    height: 67px;
}

.full-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.browseThumb {
    height: 64px;
    width: 158px;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-color: #13171e;
    border: 1px solid #123;
    -webkit-box-shadow: 3px 3px 5px #151515;
    box-shadow: 3px 3px 5px #151515;
    float: left;
    margin-right: 10px;
}

.game-info-wrapper {
    grid-template-areas:
        "title price"
        "tags labels";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex: 1 1 auto;
    padding: 0 8px;
    margin: 0;
    height: auto;
    flex-direction: unset;
    justify-content: unset;
    min-height: unset;
}

.game-info-title-wrapper {
    align-self: flex-end;
    overflow: hidden;
    width: unset;
    padding-right: 16px;
    align-items: center;
    padding: 0;
    max-height: unset;
    white-space: normal;
    order: unset;
    max-width: 255px;
    grid-area: title;
}

.svg-icon-fire {
    margin: 0 8px 0 0;
    position: relative;
    z-index: 2;
}

.icon-rating-high {
    fill: #eb1f32;
}

.game-info-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: block;
    line-height: 17px;
    max-height: unset;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0;
}

.game-tags {
    width: fit-content;
    max-width: 100%;
    padding-right: 16px;
    overflow: hidden;
    grid-area: tags;
    align-self: flex-start;
    margin: 4px 0 0;
    min-height: unset;
    order: unset;
    min-width: unset;
}

.tag-dot {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    content: '';
    background: rgba(255, 255, 255, .4);
    vertical-align: middle;
    margin: -1px 8px 0;
    transform: translateY(1px);
}


.tag {
    z-index: 2;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    vertical-align: middle;
    text-decoration: none;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    white-space: nowrap;
    margin: 0;
}

.price-wrapper {
    margin: 0 0 2px;
    flex-direction: row;
    align-items: flex-end;
    justify-self: flex-end;
    flex: unset;
    width: unset;
    grid-area: price;
    display: flex;
    max-width: unset;
    order: unset;
    text-align: right;
    white-space: nowrap;
}

.price-old {
    z-index: 2;
    font-size: 12px;
    line-height: 13px;
    color: #a39aac;
    margin-right: 8px;
    display: inline-block;
    text-decoration: line-through;
    white-space: nowrap;
}

.game-price {
    line-height: 1;
    white-space: nowrap;
    z-index: 2;
}

.price {
    display: inline-flex;
    align-items: center;
}

.price-inner {
    font-family: "exo2";
    display: inline-block;
    white-space: nowrap;
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
    text-transform: none !important;
}

.labels-container {
    grid-area: labels;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    align-self: flex-start;
    justify-content: flex-end;
    justify-self: flex-end;
    min-height: unset;
    width: unset;
    padding: 0;
    max-width: unset;
    order: unset;
    min-width: 145px;
    align-items: flex-start;
}

.label {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 2px 8px;
    height: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.discount {
    background: #dcdce5;
    color: #23222f;
}

.historical {
    color: #23222f;
    background: #07da74;
}

.game-cta {
    border-top: none;
    margin: 0;
    padding: 0;
    right: auto;
    bottom: auto;
    height: 100%;
    background: 0 0;
    grid-area: "cta";
    z-index: 3;
    border-left: 1px solid #23222f;
    box-sizing: content-box;
}

.shop-icon-cta {
    width: 86px;
    overflow: hidden;
}

.shop-link {
    position: absolute;
    flex: 1 0 100%;
    padding: 0;
    height: 100%;
    width: 100%;
}

.shop-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1a1c21;
    width: 96px;
    height: 100%;
}

.shop-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60px;
    max-height: 26px;
    display: block;
    order: 0;
}

.with-pagination {
    margin-bottom: 48px;
}

.col-right {
    padding-left: 6px;
    padding-right: 12px;
    margin-left: auto;
    flex: 0 0 260px;
    max-width: 260px;
}

.game-info-widget {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.pinned {
    position: fixed;
    top: 64px;
    width: 260px
}

.pinned.pinned-bottom {
    position: absolute;
    top: auto;
    left: 12px;
    bottom: 0
}

.in-content {
    margin: 0;
    padding: 11px 16px 12px;
    background: #1a1c21;
    line-height: 24px;
}

.widget-heading {
    font-family: "Exo 2", Lato, Lato2, sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.game-info-content {
    background: #1a1c21;
    padding: 0 0 30px;
    display: block;
}

.os-content {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    padding: 0px 0px 30px;
    height: auto;
    width: 100%;
    visibility: visible;
}

.game-info-details-section {
    margin-top: 16px;
    flex: unset;
    max-width: 100%;
    padding: 0;
    margin: 24px 0 0;
}

.game-info-inner-deals {
    box-shadow: none;
    width: 260px;
}

.deal-item {
    flex: 0 0 100%;
    border-top: 1px solid #23222f !important;
    padding-bottom: 0;
    margin-top: 0;
    width: 100%;
    background: #1a1c21;
}

.deal-image {
    display: block;
    flex: 0 0 80px;
    width: 80px;
    text-align: center;
    padding: 8px 0 8px 24px;
    box-sizing: border-box;
}

.deal-image .shop-logo {
    position: absolute;
    top: 50%;
    left: 20%;
    max-width: 80px;
    max-height: 40px;
    display: block;
    order: 0;
}

.deal-info-price {
    text-align: right;
    align-items: flex-end;
    flex: 1 0 auto;
    width: auto;
    padding: 12px 16px 12px 6px;
    height: 50px;
}

.deal-info-price .price-wrapper {
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 145px;
    height: 22px;
    overflow: hidden;
}

.os-labels-container {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 1;
    margin-top: 8px;
}

.deal-cta {
    position: relative;
    display: block;
    flex: 0 0 35px;
    width: 35px;
    height: 72px;
    right: auto;
    bottom: auto;
    border-left: 1px solid #23222f;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.deal-cta-btn {
    position: relative;
    display: block;
    text-align: center;
    background: #1a1c21;
    color: #dcdce5;
    width: 100%;
    height: 100%;
}

.svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-left: 1px;
    color: white;
    width: 16px;
    height: 16px;
}

.game-info-inner-heading {
    display: block;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin: 0 0 8px;
}

.game-info-details-content {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    line-height: 15px;
    margin: 0;

    .price-inner {
        font-family: "Exo 2", Lato, Lato2, sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, .6);
        font-weight: 600;
        white-space: nowrap;
        text-transform: none !important;
    }
}

.score {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 19px;

    .score-col {
        box-sizing: border-box;
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0 10px;
    }

    .full {
        flex: 0 0 100%;
        max-width: 100%;

        .score-heading {
            width: 100%;
            margin-bottom: 8px;

            .score-label {
                flex: 0 0 auto;
                padding-left: 0;
                padding-right: 8px;
                max-width: 100%;
                font-size: 12px;
                line-height: 15px;
                color: rgba(255, 255, 255, .6);
            }

            .score-grade {
                flex: 0 0 auto;
                padding-left: 8px;
                margin-left: auto;
                color: inherit;
            }
        }

        .score-bar {
            position: relative;
            width: 100%;
            height: 4px;
            overflow: hidden;
            border-radius: 2px;
            background: #4f4d6a;

            .score-bar .progress-bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background: #c2bcc8;
            }
        }
    }
}



.large {
    font-size: 16px;
    line-height: 40px;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
}

.game-score-square {
    border-radius: 4px;
}

.game-score-meta-value {
    display: block;
    margin: 0 4px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.score-high {
    background-color: #07da74
}

.score-med {
    background-color: #f0c808
}

.score-low {
    background-color: #eb1f32
}

.game-item {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 0;
    box-shadow: none;
}

.setting-menu {
    width: 100%;
    height: 32px;
    background-color: #1a1c21;
}

.setting-menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
    color: #d6d2da;
    justify-content: flex-end;
    position: relative;
    flex-wrap: nowrap;
    margin-left: -12px;
    margin-right: -12px;

}

.currency {
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.currency * {
    display: inline-block;
    margin: 6px;
    height: 32px;
    vertical-align: middle;
}

footer {
    margin-top: 50px;
    background-color: #272635;
    height: 200px;
    position: relative;
}

footer img {
    position: absolute;
    top: 20px;
}

.modal-detailPage {
    max-width: 800px;
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}

.modal-content-wrap {
    width: 100%;
    height: 100%;

}

.modal-content {
    width: 97%;
    height: 99%;
    margin: 0 auto;
    line-height: 1.5;
    min-height: 300px;
    padding-top: 0;
    background-color: #131519;
    overflow: hidden;
}


.browse-thumb {
    height: 39px;
    width: 102px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #13171e;
    border: 1px solid #123;
    -webkit-box-shadow: 3px 3px 5px #151515;
    box-shadow: 3px 3px 5px #151515;
    float: left;
    margin-right: 10px;
}

.offer-section .gameBox {
    height: 72px;
}

.offer-section .shop-image {
    flex: 0 0 123px;
    width: 123px;
    height: 72px;
}

.offer-section .shop-link {
    height: 100%;
    position: relative;
}

.offer-section .shop-logo {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    margin: auto;
    max-width: 96px;
    box-shadow: none;
    border: 0;
    vertical-align: middle;
    overflow: clip;
    max-height: 48px;
}

.offer-section .game-info-wrapper {
    align-self: center;
    padding: 0 16px;
    min-height: unset;
    flex: 1 1 auto;
    height: 48px;
}

.offer-section .game-info-title-wrapper {
    padding: 0 12px 0 0;
    grid-area: title;
    order: unset;
    max-width: unset !important;
    overflow: hidden;
    align-items: flex-end;
    white-space: nowrap;
    line-height: 1;
}


.offer-section .game-info-title {
    font-family: Lato, Lato2, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    z-index: 2;
}

.offer-section .game-tags {
    min-height: unset;
    grid-area: tags;
    order: unset;
    max-width: unset;
    min-width: 35%;
    margin-top: 6px;
}

.offer-section .tags {
    max-width: 100%;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    height: 16px;
}

.offer-section .tag {
    z-index: 2;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    vertical-align: middle;
    text-decoration: none;
    flex: 0 1 auto;
    white-space: nowrap;
    margin: 0;
    align-items: baseline;
}

.offer-section .price-info-with-label {
    min-height: unset;
    width: auto;
    margin: 0 0 0 auto;
    max-width: unset;
    max-height: 21px;
    grid-area: price;
}

.offer-section .price-wrapper {
    margin: 0;
    flex: 0 0 20px;
    max-width: unset;
    align-items: baseline;
    align-self: flex-end;
    padding: 0;
    justify-content: flex-end;
    text-align: right;
    white-space: nowrap;
}

.offer-section .price-old {
    margin: 0 8px 0 0;
    z-index: 2;
    font-size: 12px;
    line-height: 13px;
    color: #a39aac;
    margin-right: 8px;
    display: inline-block;
    text-decoration: line-through;
    white-space: nowrap;
}

.offer-section .game-price {
    margin-bottom: 24px;
    margin: 0;
    position: relative;
    text-decoration: none;
    z-index: 2;
    line-height: 1;
    white-space: nowrap;
}

.offer-section .labels-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    flex: 0 0 auto;
    min-width: unset;
    max-width: unset;
    align-items: flex-start;
}

.modal-content-wrap .steam-link{
    font-family: "SCoreDream";
    font-weight: 500;
    font-size:18px;
    color: #a39aac;
    
}

.steam-logo{
    flex: 1;
    padding: 0;
    height: 100%;
    max-width: 130px;
    margin-right:20px;
}