.news {
    height: 150vh;

    .news-section {
        padding-left: 12px;
        padding-right: 12px;
        max-width: 936px;
        width: 100%;
        margin: 0 auto;

        .news-list {
            max-width: calc(100% + 24px);
            flex: 1 1 100%;
            margin-top: 25px;

            .news-list-item {
                flex: 0 0 100%;
                width: 100%;
                padding: 0;
                max-width: 100%;
                background: #353347;

                .news-image-wrapper {
                    flex: 0 0 352px;
                    max-width: 352px;
                    height: 184px;
                    align-self: center;

                    img {
                        height: 100%;
                        width: auto;
                        -o-object-fit: contain;
                        object-fit: contain;
                        max-width: unset;
                        max-height: unset;
                        vertical-align: middle;
                    }
                }

                .news-info-wrapper {
                    padding: 0 24px;
                    flex: 1 0 calc(100% - 352px);
                    max-width: calc(100% - 352px);
                    max-height: 79px;
                    margin-top: 48px;
                    align-items: flex-start;
                    align-content: flex-start;

                    .news-title-wrapper {
                        margin-bottom: 10px;
                        display: block;
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin: 0 0 12px;
                    }

                    .news-title {
                        font-family: "Exo 2", Lato, Lato2, sans-serif;
                        margin-bottom: 10px;
                        font-weight: 600;
                        color: #fff;
                        font-size: 18px;
                        line-height: 23px;
                        overflow: hidden;
                    }
                }

                .news-read-more {
                    align-self: flex-end;
                    flex: 0 0 calc(100% - 16px);
                    margin-top: 16px;
                    position: absolute;
                    right: 24px;
                    bottom: 20px;

                    .widget-link-more {
                        transition: color .2s;
                        color: #279af1;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 700;
                        text-decoration: none;
                        display: inline-block;
                        flex: 0 0 auto;
                        margin-left: auto
                    }


                }
            }
        }
    }
}