@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

.slider {
    position: relative;
}

.main-slider {
    width: 800px;
    height: 410px;
    overflow: hidden;
    position: relative;

    .wrapper {
        height: 100%;
        transition: .5s all linear;
        will-change: transform;
    }

    .arrows {
        position: absolute;
        top: 40%;
        background: none;
        height: 60px;
        border: 0;
        cursor: pointer;
        transition: ease .3s all;
        outline: none;

        &.prev {
            left: 0;

            &:hover {
                opacity: .7;
                left: -10px;
            }
        }

        &.next {
            right: 0;

            &:hover {
                right: -10px;
                opacity: .7;
            }
        }
    }

    .toggle-play {
        background: transparent;
        border: none;
        height: auto;
        position: absolute;
        width: auto;
        right: 10px;
        top: 10px;
        color: #3d3d3d;

        &:hover {
            text-decoration: none;
            opacity: .7;
            cursor: pointer;
        }
    }

    .each-slide {
        width: 800px;
        height: 100%;
        float: left;
        line-height: 100%;
        font-size: 20vh;
        background-size: cover;
        background-position: center center;
        background-color: transparent;

        .slider-content {
            width: 69%;
            position: relative;
            top: 279px;

            line-height: 1.5;
            color: rgb(255, 255, 255);
            font-size: 14px;
            background-color: rgba(20, 18, 23, 0.54);
            padding: 0px 225px 24px 24px;
            list-style: none;

            .slider-title {
                font-family: 'Lato', 'SCoreDream';
                font-weight: 800;
                font-size: 25px;
                padding: 15px 0;
            }

            .description {

                .slider-price {
                    position: relative;
                    z-index: 2;
                    flex: 0 0 auto;
                    margin-right: 16px;
                    flex-direction: row-reverse;
                    align-items: baseline;

                    .slider-price-inner {
                        display: block;
                        flex: 0 0 auto;
                        font-size: 34px;
                        line-height: 40px;
                        color: #fff !important;
                        font-weight: 600;
                        white-space: nowrap;
                        text-transform: none !important;
                    }

                    .from {
                        font-weight: 400;
                        margin-top: -8px;
                        white-space: nowrap;
                        display: block;
                        flex: 0 0 auto;
                        margin-right: 8px;
                        text-transform: lowercase;
                        color: #d6d2da;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }

            }

            .slider-more-btn {
                font-family: 'SCoreDream';
                font-weight: 500;
                font-size: 16px;
                justify-content: center;
                align-items: center;
                transition: background-color .2s;
                position: relative;
                flex: 0 0 auto;
                z-index: 2;
                height: 32px;
                border-radius: 4px;
                text-decoration: none;
                width: 70px;
                padding: 4px 32px;
                margin: 0;
                background-color: #279af1;
                color: #fff;
                display: flex;
            }
        }
    }
}


.miniSlide-container {
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
    list-style-type: none;

    li {
        display: inline-block;


        &.active {
            button {
                color: #00D8FF;
            }
        }

        .each-miniSlide {

            width: 178px;
            margin: 1px 0;
            height: 80px;
            float: left;
            font-size: 20vh;
            text-align: center;
            background-size: cover;
            background-position: center center;

            &:hover {
                text-decoration: none;
                opacity: .7;
                cursor: pointer;
            }
        }



    }
}